include .gitignore
include AUTHORS.rst
include CITATION.cff
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include Makefile
include README.rst
include requirements.txt

recursive-include tests *
recursive-include stubs *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile
